<div class="container new-post">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>New Medical Record</h1>
      <hr />
        <%= render 'medical_records/new/medical_record_form' %>
    </div>
  </div>
</div>
<%= link_to 'Back', patients_path %>
