<div id="single-post-content" class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="posted-by">Issued By Dr.<%= @medical_record.doctor.firstname %></div>
      <h3 class="diagnostic"><%= @medical_record.diagnostic %></h3>
      <p><%= @medical_record.symptoms %></p>
    </div>
  </div><!-- row -->
</div>
