<h1>Patient</h1>

<li id="hobby">
  
    <i class="fa fa-user-circle-o" aria-hidden="true"></i> View Medical Records
  
</li>

<li id="study">
  
    <i class="fa fa-graduation-cap" aria-hidden="true"></i> View Doctors
  
</li>

<li id="team">
  
    <i class="fa fa-users" aria-hidden="true"></i> Logout
  
</li>