<% if user_doctor? %>
	<%= "this is an doctor" %>
	<% end %>


<li id="hobby">
  
    <i class="fa fa-user-circle-o" aria-hidden="true"></i> Find Patient
  
</li>

<li id="study">
  
    <i class="fa fa-graduation-cap" aria-hidden="true"></i> My Patients
  
</li>

<li id="team">
  
    <i class="fa fa-users" aria-hidden="true"></i> My Account
  
</li>

<li id="team">
  
    <i class="fa fa-users" aria-hidden="true"></i> Logout
  
</li>