.modal-content {
  h2 {
    text-align: center;
  }
  p {
    margin: 50px 0;
  }
  .posted-by {
    color: rgba(0,0,0,0.5);
  }
}

.modal-content {
  .loaded-data {
    p {
      text-align: left;
      overflow: hidden;
    }
    padding: 0 10px;
    .posted-by {
      margin: 0;
    }
  }
}

.modal-actions {
  text-align: center;
  button {
    
    padding: 10px;
    border-radius: 10px;
    
  }
}