<div class="container new-post">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Almost There!</h1>
      <hr />
        <%= render 'patients/new/patient_form' %>
    </div>
  </div>
</div>
<%= link_to 'Back', patients_path %>
