

  <li class="list-group-item d-flex justify-content-between align-items-center">
    <%= allergy.allergy_name %>
    <span >
      
      <%= link_to 'Delete', [allergy.patient, allergy], method: :delete, class: "button is-danger", data: { confirm: "Are you sure?" } %> </span>
  </li>




