<%= form_for([@patient, @patient.allergies.build]) do |form| %>

  <div class="field">
    <%= form.label :allergy_name %>
    <%= form.text_field :allergy_name, id: 'rxterms1' %>
    <%= form.submit 'Add Allergy', class: 'btn btn-info' %>
  </div>
<% end %>
